# OpenAI 
OPENAI_BASE_URL=https://api.openai.com
OPENAI_API_KEY=sk-replace-me

# DeepSeek 
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_API_KEY=sk-replace-me

# Anthropic 
ANTHROPIC_BASE_URL=https://api.anthropic.com
ANTHROPIC_API_KEY=sk-ant-replace-me
# Anthropic protocol version 
ANTHROPIC_VERSION=2023-06-01

# server port 
PORT=3000